{% extends 'base.html' %}
{% block body %}
{% load static %}
<center>
<div id="astro_widget"><div id="astro_widget_content"><script data-cfasync="false" type="text/javascript" src="//www.indianastrologysoftware.com/widget/wpanchang/av.tools.widget.big.db.v11.js" ></script></div></div><div id="avx_widget_148_wid" style="display:block;"><div id="avx_widget_148_wid_in" class="av_widlocator" style="display:block;"><a href="//www.indianastrologysoftware.com/free-download-kundli-software.php" target="_blank"></a></div>&nbsp;<a id="pbWGT01562_OVZC" href="//www.astro-vision.com/" target="_blank"></a></div><script>var widget = new avWidgetAstroCalendar("astro_widget","free");var av_color="#f00a0a";var av_textcolor="#0a0811";var av_lang="eng";var av_cal="SAK";var av_crt="1";var av_loc="New Delhi"
</script>
</center>
{% endblock %}